{
  "api.version": "v1",
  "source": {
      "name": "{{ item.name }}",
      "sourceType": "LocalFile",
      "pathExpression": "{{ item.path  }}",
      "category": "{{ item.category  }}"
     }
} 
